* {
    font-family: 'roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

header {
    background-color: #1F2937;
}

nav {
    display: flex; 
    justify-content: space-between;
}


.nav-container {
    width: 1100px;
    margin: 0 auto;
}


.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.nav-links {
    display: flex; 
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
    gap: 10px;
}

.hero-information {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 80px;
}

.hero-maintext {
    margin-right: 30px;
    width: 550px; 
}

.hero-maintext h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0; 
}

.hero-maintext p {
    color:#E5E7EB;
    font-size: 18px;
    margin: 0 0 10px 0; 
}

.hero-button {
    display:block;
    background-color: #3882F6;
    border: none;
    padding: 8px 20px 8px 20px; 
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
}

.hero-image {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px; 
}

.hero-image p{
    color: #E5E7EB;
}

.main-info {
    display: flex;
    flex-direction: column;
    width: 1100px; 
    margin: 0 auto; 
    align-items: center;
}

.main-info h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 25px 0 25px 0;
}

.info-panels {
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.panel-placeholder {
    height: 150px; 
    width: 150px; 
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.panel {
    max-width: 200px;
}

.panel p {
    max-width: 150px;
    text-align: center;
}


.quote-container {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    width: 900px;
    margin-bottom: 0;
}

.author {
    width: 700px;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}

.cta-container {
    width: 1100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call-to-action {
    background-color: #3882F6;
    width: 1100px; 
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.cta-text h6 {
    font-size: 20px;
    margin: 0;
    padding: 0; 
    color: #F9FAF8;
}

.cta-text p {
    font-size: 14px;
    margin: 0;
    padding: 0; 
    color: #F9FAF8;
}

.cta-button button {
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 6px 25px;
    background-color: #3882F6;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: bold;
}

footer {
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

