* {
    font-family: 'roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    background-color: #1F2937;
}

nav {
    display: flex; 
    justify-content: space-between;
}


.nav-container {
    width: 1100px;
    margin: 0 auto;
}


.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.nav-links {
    display: flex; 
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
    gap: 10px;
}

.hero-information {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 80px;
}

.hero-maintext {
    margin-right: 30px;
    width: 550px; 
}

.hero-maintext h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0; 
}

.hero-maintext p {
    color:#E5E7EB;
    font-size: 18px;
    margin: 0 0 10px 0; 
}

.hero-button {
    display:block;
    background-color: #3882F6;
    border: none;
    padding: 8px 20px 8px 20px; 
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
}

.hero-image {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px; 
}

.hero-image p{
    color: #E5E7EB;
}