
header {
    background-color: #1F2937;
}

nav {
    display: flex; 
    justify-content: space-between;
}


.nav-container {
    width: 1100px;
    margin: 0 auto;
}

.hero-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.nav-links {
    display: flex; 
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
    gap: 10px;
}